<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    ">

  <bean id="controller" class="org.example.ApplicationController"
    autowire="constructor"></bean>


  <bean id="productRep" class="org.example.handlers.ProductRepository"
    autowire="constructor"></bean>

  <bean id="cart" class="org.example.handlers.Cart"
    autowire="constructor" scope="prototype"></bean>

  <bean id="product1" class="org.example.objects.Product">

    <constructor-arg index="0" value="1"/>
    <constructor-arg index="1" value="Pepsi"/>
    <constructor-arg index="2" value="36.5"/>
  </bean>

  <bean id="product2" class="org.example.objects.Product">

    <constructor-arg index="0" value="2"/>
    <constructor-arg index="1" value="Water"/>
    <constructor-arg index="2" value="10.7"/>
  </bean>

  <bean id="product3" class="org.example.objects.Product">

    <constructor-arg index="0" value="3"/>
    <constructor-arg index="1" value="Coca-cola"/>
    <constructor-arg index="2" value="40.5"/>
  </bean>

  <bean id="product4" class="org.example.objects.Product">

    <constructor-arg index="0" value="4"/>
    <constructor-arg index="1" value="Beer"/>
    <constructor-arg index="2" value="40.2"/>
  </bean>

  <bean id="product5" class="org.example.objects.Product">

    <constructor-arg index="0" value="5"/>
    <constructor-arg index="1" value="Fanta"/>
    <constructor-arg index="2" value="33.9"/>
  </bean>
  <context:annotation-config/>
</beans>